@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.profileHeader {
  color: white;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  padding: 1rem;
}

.profileHeader h1 {
  color: white;
  text-shadow: 1px 1px #333;
  text-align: center;
}

.profileHeader .info {
  background: rgba(0,0,0,0.3);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
